*{
    margin: 0px;
    padding: 0px;
}

.navbar{
    background-color: black;
    color: white;
    display: flex;
    width: 100%;
}
.layout{
    padding-left: 85px;
}
.about{
    padding-left: 40px;
}
.services{
    padding-left: 50px;
}
.contact{
    padding-left: 50px;
}